# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual environments
.venv/
venv/

# Model & data outputs
best.pt
captures/

# IDE
.vscode/
.idea/
